@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" Theme="@falufTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
	<MudAppBar DisableGutters="true" Elevation="0">
		<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" OnClick="() => showNavigationMenu = !showNavigationMenu" Class="ms-2" />

		<MudSpacer />

		<MudMenu Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" AnchorOrigin="Origin.BottomLeft" Class="me-2">
			<MudMenuItem>Terms & service</MudMenuItem>
			<MudMenuItem>Privacy policy</MudMenuItem>
			<MudMenuItem>Contact</MudMenuItem>
		</MudMenu>

		<MudFab Href="/signin" Color="Color.Tertiary" Label="Sign in" Size="Size.Small" StartIcon="@Icons.Material.Filled.PersonOutline" Class="me-4" />
	</MudAppBar>

	<MudDrawer @bind-Open="@showNavigationMenu" Elevation="0" Variant="DrawerVariant.Responsive">
		<MudDrawerHeader LinkToIndex="true" Class="justify-center">
			<MudImage Src="_content/Faluf.WASM.SharedBlazorUI/images/logo_transparent.png" Width="150" Height="150" />
		</MudDrawerHeader>

		<MudDivider DividerType="DividerType.Middle" Class="mb-2" />

		<MudNavMenu Bordered="true">
			<MudNavLink Href="/" Icon="@Icons.Material.Filled.Dashboard" DisableRipple="true" Match="NavLinkMatch.All">Home</MudNavLink>
			<MudNavLink Href="/signalr" Icon="@Icons.Material.Filled.CellTower" DisableRipple="true" Match="NavLinkMatch.Prefix">SignalR</MudNavLink>
			<MudNavLink Href="/streaming" Icon="@Icons.Material.Filled.OndemandVideo" DisableRipple="true" Match="NavLinkMatch.Prefix">Streaming</MudNavLink>
			<MudNavLink Href="/openai" Icon="@Icons.Material.Filled.BubbleChart" DisableRipple="true" Match="NavLinkMatch.Prefix">AI</MudNavLink>
			<MudNavLink Href="/code-editor" Icon="@Icons.Material.Filled.DataObject" DisableRipple="true" Match="NavLinkMatch.Prefix">Code Editor</MudNavLink>
			<MudNavLink Href="/html" Icon="@Icons.Material.Filled.Html" DisableRipple="true" Match="NavLinkMatch.Prefix">HTML Markdown</MudNavLink>
			<MudNavLink Href="/data" Icon="@Icons.Material.Filled.List" DisableRipple="true" Match="NavLinkMatch.Prefix">Bulk Data</MudNavLink>
			<MudNavLink Href="/calculator" Icon="@Icons.Material.Filled.Calculate" DisableRipple="true" Match="NavLinkMatch.Prefix">Calculator</MudNavLink>
		</MudNavMenu>

		<div class="nav-footer">
			<p><label>Copyright &copy; @DateTime.UtcNow.Year - Faluf</label></p>
			<p><code><label>Version @(Assembly.GetEntryAssembly()?.GetName().Version?.ToString(3))</label></code></p>
		</div>
	</MudDrawer>

	<MudMainContent>
		@Body
	</MudMainContent>
</MudLayout>

@code {
	private bool showNavigationMenu = true;

	private MudTheme falufTheme = new()
		{
			LayoutProperties = new LayoutProperties()
			{
				DrawerWidthLeft = "240px",
				DefaultBorderRadius = "10px",
				AppbarHeight = "60px"
			},
			Typography = new Typography()
			{
				H5 = new H5()
				{
					FontSize = "1.5em",
					LetterSpacing = "1px"
				},
				Default = new Default()
				{
					FontSize = "1.1em"
				}
			}
		};
}